# Runtime
CORE_HOST=prompt.example.com
SERVER_CORE_HOST=https://prompt.example.com
SERVER_IMAGE_TAG=latest
CLIENT_IMAGE_TAG=latest

# Database
DB_NAME=intro_course
DB_USER=postgres
DB_PASSWORD=postgres

# Auth / external integrations
KEYCLOAK_HOST=https://keycloak.example.com
KEYCLOAK_REALM_NAME=prompt
KEYCLOAK_AUTHORIZED_PARTY=prompt-client
KEYCLOAK_CLIENT_ID=prompt-client
GITLAB_ACCESS_TOKEN=

# Monitoring
SENTRY_DSN=
