# Node / frontend
client/node_modules/
client/build/
client/dist/
client/.yarn/
shared_library

# Go / server
server/bin/
server/.cache/

# Editor/system
.DS_Store
.idea/
.vscode/

# Env
.env
.env.*
!.env.template
